* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #feeba7;
}

.container {
  position: flex;
  justify-content: space-around;
}

img {
  width: 200px;
}

h2 {
  color: #036677;
}

.time p {
  padding-top: 20px;
  line-height: 0;
}

#result {
  padding-bottom: 20px;
}

#question {
  font-size: 25px;
  color: #005463;
}

#next-btn {
  display: none;
}

.answer-btn:hover {
  background-color: rgb(255, 255, 208);
  border: 1px solid white;
  color: black;
}

#checker {
  display: none;
}

#result {
  margin-top: 50%;
}
